.cards{

}

.cards__list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 17px;
}

.card{
    
}

.card__image{
    z-index: 5;
}

.card__image-background{
    z-index: -3;
}

.card_description{

}

.card__title{

}

.card__like-button{

}
