.card{
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    min-width: 282px;
    min-height: 361px;
    color: #000000;
}

.card__list{
    margin: 0 auto 0;
    max-width: 880px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
    padding: 0;
}

.card__content{
    background-color: white;
    width: 282px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}

.card__image{
    display: block;
    min-width: 282px;
    min-height: 282px;
}

.card__description{
    display: flex;
    justify-content: space-between;
    max-height: 79px;
    margin: 25px 15px 25px 21px;
}

.card__title{
    color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.card__button-like{
    display: flex;
    margin: 0;
    min-width: 21px;
    min-height: 18px;
    background-image: url(../images/heart.svg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    border: none;
    
}

.card__button-like:hover{
    opacity: 0.6;
}

@media screen and (max-width:1050px) {
    .card__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 600px;
    }
}

@media screen and (max-width:800px) {
    .card__list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: auto;

    }
}

