.cards{
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.cards__list{
    margin: 0 15% 67px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 17px;
    padding: 0;
}

.card{
    background-color: white;
    width: 282px;
    height: 361px;
    overflow: hidden;
    border-radius: 1em;
    margin: auto;
}

.card__image{
    width: 282px;
    height: 282px;
}

.card__description{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 31px 21px;
}

.card__title{
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button{
    display: flex;
    margin: 0;
}

.card__like-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:1250px) {
    .cards__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .cards__list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0;
    }
}

