.footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: auto;
    padding-left: 200px;
}

@media screen and (max-width:1250px) {
    .footer {
        padding-left: 20vw;
    }
}

@media screen and (max-width:768px) {
    .footer {
        padding-left: 35vw;
    }
}