.modal {
    position: fixed;
    font-family: 'Inter' , Arial, sans-serif;
    width: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal__content{
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background-color: white;
}

.modal__close{
    position: absolute;
    left: 100%;
    bottom: 100%;
    min-width: 40px;
    min-height: 40px;
    background-image: url(../images/Close-Icon.svg);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    border: none;
}

.modal__close:hover{
    opacity: 0.6;
}

.modal__title{
    font-family: 'Inter' , Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    min-width: 330px;
    min-height: 23px;
    margin: 0;
    padding: 34px 64px 54px 36px;
}

.modal__form{
    display: flex;
    flex-direction: column;
    padding: 0 36px 0;
    gap: 30px;
    
}

.modal__input-name {
    font-family: 'Inter' , Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    width: 358px;
    height: 27px;
    border-width: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.2);
    
}

.modal__input-description {
    font-family: 'Inter' , Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    width: 358px;
    height: 27px;
    border-width: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}

.modal__submit {
    color: white;
    background-color: black;
    width: 358px;
    height: 50px;
    padding: 0;
}

.modal__submit:hover {
    opacity: 0.6;
}

@media screen and (max-width:800px) {

    .modal__content{
        height: 322px;
        width: 282px;
    }
    .modal__close{
        left: 90%;
    }
    .modal__form{
        padding: 0 22px 25px;
    }
    .modal__title{
        width: 238px;
        height: 22px;
        padding: 25px 22px 75px;
    }
    .modal__input-name{
        height: 14px;
        width: 238px;
    }
    .modal__input-description{
        height: 14px;
        width: 238px;
    }
    .modal__submit{
        width: 238px;
        height: 46px;
    }
}