.profile{
   margin: auto;
}

.profile__container{
    display: flex;
    margin: auto;
    padding: 40px 200px 51px;
    justify-content: space-between;
    max-width: 880px;
    height: 120px;
}

.profile__content{
    display: flex;
}

.profile__image-container{
    display: flex;
    width: 169px;
    height: 128px;
}

.profile__image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__info{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px
}

.profile__info-title{
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    height: 39px;
    width: 373px;
    left: 350px;
    top: 181px;
    border-radius: nullpx;

}

.profile__info-description{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    height: 22px;
    width: 415px;
    left: 350px;
    top: 236px;
    border-radius: nullpx;
}

.profile__edit{
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
}    

.profile__add{
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
}

